{% extends 'main.twig' %}

{% block content %}
    {% import 'macro.twig' as VH %}
    <h1>Reset Your Password</h1>
    <p>Enter your email address below to reset your password.</p>
    <form action="?cmd=forgot_password" method="post" accept-charset="utf-8">
        {{ VH.create_form_input('email', 'text',post , 'Email Address', pass_errors) }}
        <input type="submit" name="submit_button" value="Reset &rarr;" id="submit_button" class="btn btn-default" />
    </form>
{% endblock %}