{% extends 'main.twig' %}

{% block content %}
    <h1>Your password has been changed.</h1>
    <p>You will receive the new, temporary password via email. Once you have logged
        in with this new password, you may change it by clicking on the "Change Password" link.
    </p>
{% endblock %}