{% extends 'main.twig' %}

{% block content %}
    <h1>PDF Guides</h1>
    {{ string }}
    <div class="alert alert-danger">There are currently no PDFs available to view. Please check back again!</div>
{% endblock %}